<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

        <bean class="org.springframework.jdbc.datasource.DataSourceTransactionManager" id="transactionManager">
            <property name="dataSource" ref="dataSource"></property>
        </bean>

        <tx:advice id="txAdvice" transaction-manager="transactionManager">
            <tx:attributes>
                <tx:method name="save*" isolation="DEFAULT" propagation="REQUIRED"/>
                <tx:method name="add*" isolation="DEFAULT" propagation="REQUIRED"/>
                <tx:method name="update*" isolation="DEFAULT" propagation="REQUIRED"/>
                <tx:method name="delete*" isolation="DEFAULT" propagation="REQUIRED"/>
                <tx:method name="modify*" isolation="DEFAULT" propagation="REQUIRED"/>
                <tx:method name="load*" isolation="DEFAULT" propagation="REQUIRED" read-only="true"/>
                <tx:method name="select*" isolation="DEFAULT" propagation="REQUIRED" read-only="true"/>
                <tx:method name="*" isolation="DEFAULT" propagation="REQUIRED" read-only="true"/>
            </tx:attributes>
        </tx:advice>

        <aop:config>
            <aop:pointcut expression="execution(* com.bjsxt.ego.rpc.service.impl.*.*(..))" id="pc"/>
            <aop:advisor advice-ref="txAdvice" pointcut-ref="pc"/>
        </aop:config>

</beans>